<div class="row justify-content-between m-0 p-3">
  <h5 class="col my-auto p-0">Roles Management</h5>
  <button type="button" class="btn btn-success col-auto" data-toggle="modal" data-target="#EditAddRole"
    (click)="openModel()">Create New Role</button>
</div>

<div class="p-0 mx-3 my-1 bg-light border border-secondary rounded" style="overflow: hidden;">
  <table class="table mb-0">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id #</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roleList">
        <th scope="row">{{role.id}}</th>
        <td>{{role.roleName}}</td>
        <td>
          <div class="row m-0">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#EditAddRole"
              (click)="openModel(role)">Edit</button>
            <div class="p-2"></div>
            <button type="button" class="btn btn-danger" (click)="deleteRole(role.id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="EditAddRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Role Name</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="newRole.roleName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="creationMode" (click)="createRole()">Create Role</button>
        <button type="button" class="btn btn-primary" *ngIf="!creationMode" (click)="modifyRole()">Modify Role</button>
      </div>
    </div>
  </div>
</div>